body {
    background-color: #0A285F ;
    margin: 0;
    font-family: rubik;
}


.buttonContainer{
     text-align: center;
     margin-top:5em;
}

.container {
    padding: 40px;
    margin: 0 auto;
}

h1 {
    color: #FFCC00 ;
    text-transform: uppercase;
    text-align: center;
}

h2{
    color: #D5A100  ;
    
}

#pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    padding-inline-start: 0;
}

img{
       display: block
        margin: auto 
        border: 5px solid yellow
        box-shadow: 2px 4px 10px -2px
}

.card {
    list-style: none;
    padding: 40px;
     background-color:  #0075BE ;
    color: #222;
    text-align: center;
}

.card:hover {
    animation: bounce 0.5s linear;
}

.card-title {
    text-transform: capitalize;
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: normal;
}
.card-subtitle {
    margin-top: 5px;
    color: #666;
    font-weight: lighter;
}

.card-image {
    height: 180px;
}